.form-container {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .form-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form-container button[type="submit"]:hover {
    background-color: #45a049;
  }
  .form-container p {
    margin-top: 20px;
    text-align: center;
  }
  
  .form-container p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .form-container p a:hover {
    text-decoration: underline;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .form-container p {
    margin-top: 20px;
    text-align: center;
  }
  
  .form-container p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .form-container p a:hover {
    text-decoration: underline;
  }
  
.role-select-container {
    margin-bottom: 15px;
  }

  .role-select-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .role-select-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
  }
  
  .role-select-container select:focus {
    outline: none; 
    border-color: #007bff; 
  }

  .role-select-container select option {
    color: #000; 
    background-color: #fff; 
  }
  

  .role-select-container select option:hover {
    background-color: #f0f0f0;
  }